include _page.pug
doctype html
html(lang='ja')
	head
		block BLOCK_LAYOUT_VAR

		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		- var TITLE = 'Pe Help'
		if(VAR_LAYOUT_TITLE)
			title #{VAR_LAYOUT_TITLE} - #{TITLE}
		else
			title #{TITLE}

		link(rel='stylesheet' type='text/css' href='style/style.scss')

		block BLOCK_LAYOUT_HEAD
		block BLOCK_LAYOUT_STYLE
		block BLOCK_LAYOUT_HEAD_SCRIPT
	body
		if(VAR_LAYOUT_TITLE)
			h1 #{VAR_LAYOUT_TITLE}
		else
			h1 #{TITLE}
		div#content
			#container
				block BLOCK_LAYOUT_CONTENT

		header#menu
				nav
					ul
						li
							a(href="./index.pug")= pages.help.index
							ul
								li: a(href="./help.install-uninstall-data.pug")= pages.help.install_uninstall_data
								li: a(href="./help.x86-x64.pug")= pages.help.x86_x64
								li: a(href="./help.privacy.pug")= pages.help.privacy
						li: a(href="./help.notifyarea.pug")= pages.help.notifyarea
						li
							a(href="./help.launcher.pug")= pages.help.launcher
							ul
								li: a(href="./help.launcher-toolbar.pug")= pages.help.launcher_toolbar
								li: a(href="./help.launcher-command.pug")= pages.help.launcher_command
								li: a(href="./help.launcher-extends-execute.pug")= pages.help.launcher_extends_execute
						li: a(href="./help.note.pug")= pages.help.note
						li
							| その他
							ul
								li: a(href="./help.others-appsettings.pug")= pages.help.others_appsettings
								li: a(href="./help.others-proxy.pug")= pages.help.others_proxy
								li: a(href="./help.others-commandline.pug")= pages.help.others_commandline
								li: a(href="./help.others-plugin.pug")= pages.help.others_plugin
						li: a(href="./help.changelogs.pug")= pages.help.changelogs
						li
							a(href="./dev.index.pug")= pages.dev.index
							ul
								li: a(href="./dev.build.pug")= pages.dev.build
								li: a(href="./dev.branch.pug")= pages.dev.branch
								li: a(href="./dev.ci.pug")= pages.dev.ci
								li: a(href="./dev.table-main.pug")= pages.dev.table_main
								li: a(href="./dev.table-large.pug")= pages.dev.table_large
								li: a(href="./dev.table-temporary.pug")= pages.dev.table_temporary
								li
									a(href="./dev.plugin.pug")= pages.dev.plugin
									ul
										li: a(href="./dev.plugin-reference.pug")= pages.dev.plugin_reference
										li: a(href="./dev.plugin-template.pug")= pages.dev.plugin_template
		script(src="script/link.ts" type="module")
		script(src="script/menu.ts" type="module")
		block BLOCK_LAYOUT_TAIL_SCRIPT

